*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: #1d2b3a;
    
}
.navclass{
    color: #00dfc4;
    font-size: 2em;
    margin: auto;
}
.navclass:hover{
    color: #00dfc4;
}
h1{
    color: #00dfc4;
    font-family: Arial, Helvetica, sans-serif;
  }
.inputBox{
    position: relative;
    width: 250px;
    margin-bottom: 20px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
}

.inputBox input:hover{
    border: 1px solid #00dfc4;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,.inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #1d2b3a;
    color: #00dfc4;
    border: 1px solid #00dfc4;
    border-radius: 5px;
}
button:hover{
    background-color: #00dfc4;
    color: #1d2b3a;
    border: 1px solid #1d2b3a;
}